@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

:root {
    --bgcolor: #030000;
    --bglinks: #131113;
    --bgwhatsapp: #34af23;
    --bgfacebook: #3b5998;
    --bginsta: #bc1888;
    --bghoverwpp: #56da45;
    --bghoverfacebook: #486fc5; 
    --bghoverinsta: #cc2697;
    --bghoversite: #363436;
}

body{
    background-image: url(imagens/bgeletronica.jpg);
    background-size: cover;
}

.foto{
    width: 200px;
    height: 200px ;
    border-radius: 50%;
}
.titulos{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    font-family: 'Roboto', cursive
}

.titulos h1 {
    font-size: 1.6rem;
    color: #030000;
}

.titulos h2{
    font-size: 1.2rem;
    color: #030000;
}

.titulos h3{
    font-size: 0.8rem;
    color: #030000;
}

.linktree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw ;
    margin: 40px auto;
    gap: 20px;
    border-radius: 15px;
}

.links{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52vw ;
    margin: 40px auto;
    padding: 10px;
    gap: 20px;
    border-radius: 15px;
}

.links a {
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    width: 100%;
    padding: 15px;
    font-family: 'Calistoga', cursive;
    border-radius: 50px;
}

div.email{
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    width: 100%;
    padding: 15px;
    font-family: 'Calistoga', cursive;
    border-radius: 50px;
}

div.email:hover{
    background-color: var(--bgcolor);
    cursor: text;
}

.site{
    background-color: var(--bglinks);
}
.site:hover{
    background-color: var(--bghoversite);
}
.whatsapp-pelotas{
    background-color:var(--bgwhatsapp);
}
.whatsapp-riogrande{
    background-color:var(--bgwhatsapp);
}
.whatsapp-pelotas:hover,
.whatsapp-riogrande:hover{
    background-color: var(--bghoverwpp);
}
.facebook{
    background-color: var(--bgfacebook);
}
.facebook:hover{
    background-color: var(--bghoverfacebook);
}
.instagram {
    background-color: var(--bginsta);
}
.instagram:hover {
    background-color: var(--bghoverinsta);
}
.email{
    background-color: var(--bglinks);
}
.footer{
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    background-color: var(--bgcolor);
    width: 100%;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 650px){
    .email{
        font-size: 0.7rem;
    }
}

@media (max-width: 520px){
    .foto{
        width: 100px;
        height: 100px;
    }
    .titulos h1 {
        font-size: 1.4rem;
    }
    
    .titulos h2{
        font-size: 1.0rem;
    }
    
    .titulos h3{
        font-size: 0.6 rem;
    }
    
}

@media (max-width: 450px){
    .whatsapp-riogrande{
        font-size: 0.8rem;
    }
    .email{
        font-size: 0.4rem;
    }
    .footer{
        font-size: 0.7rem;
    }
}
